pm_api_url = "https://YOUR_PROXMOX:8006/api2/json"

pm_api_token_id     = "user@pam!token"
pm_api_token_secret = "REPLACE_ME"

target_node  = "pve"
template_name = "ubuntu-template"

vm_storage = "local-lvm"
vm_bridge  = "vmbr1"
vm_gateway = "10.67.10.1"

ssh_key = "ssh-ed25519 AAAA..."


nodes = {
  master1 = {
    ip     = "IP"
    cores  = 2
    memory = 4096
    disk   = "20G"
    role   = "master"
  }

  worker1 = {
    ip     = "IP"
    cores  = 2
    memory = 2048
    disk   = "20G"
    role   = "worker"
  }

  worker2 = {
    ip     = "IP"
    cores  = 2
    memory = 2048
    disk   = "20G"
    role   = "worker"
  }
}